<a href="https://colab.research.google.com/github/salnuraqidah/machine-learning/blob/main/data_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
measurement = [
    {'city':'Jakarta', 'suhu':30},
    {'city':'Bandung', 'suhu':25},
    {'city':'Depok', 'suhu':30},
    {'city':'Bandung', 'suhu':20},
    {'city':'Bekasi', 'suhu':32},
    ]

In [12]:
measurement

[{'city': 'Jakarta', 'suhu': 30},
 {'city': 'Bandung', 'suhu': 25},
 {'city': 'Depok', 'suhu': 30},
 {'city': 'Bandung', 'suhu': 20},
 {'city': 'Bekasi', 'suhu': 32}]

In [13]:
import pandas as pd

In [14]:
a = pd.DataFrame(measurement)

In [15]:
a

      city  suhu
0  Jakarta    30
1  Bandung    25
2    Depok    30
3  Bandung    20
4   Bekasi    32

In [16]:
from sklearn.feature_extraction import DictVectorizer

In [17]:
dv = DictVectorizer()

In [18]:
dv.fit_transform(measurement).toarray() # one hot encoding , secara otomiatis mengurutkan secara alfabet

array([[ 0.,  0.,  0.,  1., 30.],
       [ 1.,  0.,  0.,  0., 25.],
       [ 0.,  0.,  1.,  0., 30.],
       [ 1.,  0.,  0.,  0., 20.],
       [ 0.,  1.,  0.,  0., 32.]])

In [19]:
pd.get_dummies(a)

   suhu  city_Bandung  city_Bekasi  city_Depok  city_Jakarta
0    30             0            0           0             1
1    25             1            0           0             0
2    30             0            0           1             0
3    20             1            0           0             0
4    32             0            1           0             0

In [21]:
measurement = [
    {'ketebalan':'Tebal', 'suhu':30},
    {'ketebalan':'Tipis', 'suhu':25},
    {'ketebalan':'Medium', 'suhu':30},
    {'ketebalan':'Tebal', 'suhu':20},
    {'ketebalan':'Tebal', 'suhu':32},
    ]

In [22]:
b = pd.DataFrame(measurement)

In [23]:
b

  ketebalan  suhu
0     Tebal    30
1     Tipis    25
2    Medium    30
3     Tebal    20
4     Tebal    32

In [24]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
oe = OrdinalEncoder()

In [26]:
oe.fit_transform(b) # label encoder otomatis mengurutkan sesuai alphabet

array([[1., 2.],
       [2., 1.],
       [0., 2.],
       [1., 0.],
       [1., 3.]])

In [32]:
b['ketebalan'] = b['ketebalan'].map(
    {
        'Tebal' : 3,
        'Medium' : 2,
        'Tipis' : 1,
    }
)

In [33]:
b

   ketebalan  suhu
0          3    30
1          1    25
2          2    30
3          3    20
4          3    32